body {
	background-color: #fafaf8;
}

a {
	font-family: DejaVu Sans Mono, monospace;
	color: #000000;
	text-decoration: none;
	display: block;
}

a:hover {
	color: #84739c;
}

a:active {
	color: #000000;
}
