body {
	background-color: #fafaf8;
}

p {
	font-family: DejaVu Sans Mono, monospace;
	color: #000000;
	font-size: 25px;
}

center {
	font-family: DejaVu Sans Mono, monospace;
	color: #000000;
	font-size: 30px;
}

.langs img {
	margin-left: 5px;
}

.skills {
	margin-top: 300px;
}

.title {
	margin-top: 100px;
}

a {
	font-family: DejaVu Sans Mono, monospace;
	font-size: 30px;
	color: #000000;
	text-decoration: underline;
	display:inline-block;
}

a:hover {
	color: #84739c;
}

a:active {
	color: #000000;
}

#id {
	float: right;
	clear: right;
}

footer {
	bottom: 0;
}

footer p {
	display:inline-block;
}
