body {
	background-color: #fafaf8;
}

center, p {
	font-family: DejaVu Sans Mono, monospace;
	color: #000000;
	font-size: 25px;
}

.projects {
	margin-top: 400px;
}

a {
	font-family: DejaVu Sans Mono, monospace;
	color: #000000;
	text-decoration: underline;
}

a:hover {
	color: #84739c;
}

a:active {
	color: #000000;
}

#id {
	float: right;
	clear: right;
}

footer {
	bottom: 0;
}
