body {
   display: grid;
   align-items: center;
   justify-content: center;
}

div#container {
   justify-self: center; 
   align-self: center;
   margin-left: -250px;
} 
img {
   height: 100%;
   position: absolute;
   transition: opacity 1s ease-in-out;
} 
img#visible:hover {
    opacity: 0; 
}
