
.container {
    position: relative;
    margin: 0 auto;
 } 
 img { 
    position: absolute;
    border: solid;
    border-color: black;
    left: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
 } 
 img#visible:hover { 
     opacity: 0; 
}